/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/ubuntu-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/ubuntu-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/ubuntu-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/ubuntu-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* :root {
    --blue: #1e90ff;
    --black: red;
} */

body {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #e8e8e8 !important;
}

.colo {
    margin: auto;
    padding: 15px;
}

#welcome {
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: aliceblue;
    margin-bottom: 25px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 23px !important;
    font-weight: bolder !important;
}

.col-lg-4.justify-content-center {
    text-align: center;
    background-color: black;
    font-weight: 600;
    border-style: ridge;
    border-color: rgb(66, 65, 65);
    padding-top: 35px;
    padding-bottom: 35px;
}

.col-lg-4:hover {
    background-color: #212529;
}

.boldt {
    font-size: 30px;
}

.lorem {
    margin: auto;
}

.subcontainer {
    margin: auto;
}

.yes {
    margin: auto;
    background-image: url('img/Casa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 85%;
    padding-left: 10%;
    padding-right: 10%;
}

.nope {
    margin-top: 0% !important;
    width: 85% !important;
    padding-left: 10%;
    padding-right: 10%;
    overflow: visible;
}

.nope1 {
    padding-left: 10%;
    padding-right: 10%;
    overflow: visible;
    z-index: 100;
}

.maintxt {
    position: relative;
}

.maintxt>img {
    height: 100%;
    width: 100%;
    margin: auto;
}

.section-call {
    position: relative;
}

.yapi1.container-fluid {
    background-color: white;
    opacity: 0.9;
    padding: 6%;
}

.copy {
    padding-top: 3%;
    padding-bottom: 5%;
    width: 68%;
    font-size: 18px;
}

.yapi.container-fluid {
    background-color: white;
    opacity: 0.9;
    padding: 6%;
    width: 50%;
    margin-left: 1%;
}

.daap {
    justify-content: space-around;
    height: 50%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.primer {
    margin: auto;
    padding-top: 5%;
}

.social {
    height: 34px !important;
}

.col-lg-1 {
    padding-right: 0% !important;
    padding-left: 0% !important;
    margin-left: 0px;
    margin-right: 30px;
}

#derecho {
    font-size: 24px;
    line-height: 1.333 !important;
}

.first {
    background-color: #161616;
    color: aliceblue;
    background-image: url("img/obrero.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.fa-phone,
.fa-envelope {
    font-size: 33px;
}

.firstofall {
    background-color: #161616;
    background-image: url("img/obrero.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
}




#succst {
    padding-top: 5%;
}

.second {
    color: aliceblue;
    background-image: url("img/bgsec.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.third {
    margin: auto;
    position: relative;
}

.fourth {
    background-color: #e8e8e8;
    background-repeat: no-repeat;
}

#puntouno {
    background-color: white;
}

#puntodos {
    background-color: #f0ecec;
}

#fib {
    padding-top: 5%;
    padding-bottom: 5%;
}

#locallyinv {
    padding-top: 5%;
}

#puntotres {
    background-image: url('img/bgtres.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#puntocuatro {
    background-color: #212121;
}

#forhome {
    background-image: url('img/forhoem.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 14%;
    padding-bottom: 14%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 10px;
}

div#forhome:hover {
    color: #212529;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0), url('img/forhoem.png');
    border-color: #dae0e5;
}

#forbusiness:hover {
    color: #212529;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0), url('img/forbusiness.png');
    border-color: #dae0e5;
}

.aa {
    width: 100%;
    height: 100%;
}

.dropdown-toggle::after {
    display: none !important;
}

.nope1>.row {
    width: 100%;
}

#forbusiness {
    background-image: url('img/forbusiness.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 10px;
    padding-top: 14%;
    padding-bottom: 14%;
    padding-left: 3%;
    padding-right: 3%;
}

#read {
    padding: 13px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}


.for {
    border-radius: 72px !important;
    font-weight: 1000 !important;
    color: red !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    margin: 0% !important;
}

.scroll {
    max-height: 100vh;
    overflow-y: auto;
}

.loc {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.cities {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 65px;
}

.cities>img:hover {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    border-radius: 30px;
}

/*.resizedcols {}*/

.btn {
    text-align: center;
}

.prom {
    width: 80%;
    margin: auto;
}

/*#d1 {
    padding-left: 4%;
}*/

#sw1 {
    margin-top: 50px;
    margin-bottom: 40px;
}

#sw2 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.swiper-button-next {
    position: absolute;
    background-size: 50% auto;
}

#nextbut1,
#prevbut1 {
    top: 52% !important;
}

.swiper-button-prev {
    position: absolute;
    top: 52% !important;
}

.swiper {
    width: 90%;
    background: transparent;
}

.navbar {
    background-color: black;
    color: #fff;
    padding: 0% !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.navbar2 {
    background-color: #f8f9fa;
}

#yo {
    max-width: 690px;
    line-height: 1.5;
    position: absolute;
    font-family: "FuturaBT", sans-serif;
}




#gri {
    background-color: rgb(224, 222, 222);
}

#negru {
    background-color: black;
    color: aliceblue;
}

.navbar {
    margin: auto !important;
    display: block !important;
}

#boldu {
    font-weight: bolder;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.footer {
    background-image: url("img/footerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.col-md-6>p>a {
    color: rgb(140, 46, 46);
}

#compar {
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width:2280px) {
    .izquierdo {
        font-size: 140px !important;
    }

    #titform {
        font-size: 60px;
    }

    .subtitform {
        font-size: 20px;
    }

    .cardtit {
        font-size: 35px;
    }

    .btn.btn-danger.btn-block {
        font-size: 22px;
    }

    .form-group>label,
    .form-group>input,
    .form-group>textarea,
    .form-group>select {
        font-size: 22px;
    }

    .form-check>.form-check-label {
        font-size: 22px;
        padding-left: 10px;
    }

    input.form-check-input {
        transform: scale(2);
    }

    .for {
        font-size: 22px !important;
    }

    .col-md-6>p>a {
        font-size: 20px;
    }

    .pi {
        font-size: 30px !important;
        margin: 0%;
    }

    .redtitle {
        color: red;
        font-size: 28px;
    }

    .mid1 {
        font-size: 39px;
        color: white;
    }

    .mid2 {
        font-size: 39px;
        color: black;
    }

    #derecho {
        font-size: 37px !important;
        max-width: 870px !important;
    }



    .navu {
        color: #fff !important;
        font-size: 20px !important;
    }

    .navo {
        color: black;
        font-size: 22px !important;
    }


    #derecho {
        font-size: 30px !important;
    }

    .para1 {
        font-size: 23px !important;
    }

    .para2 {
        font-size: 23px !important;
    }
}

@media (min-width: 2077px) and (max-width:2279px) {
    .izquierdo {
        font-size: 110px !important;
    }


    #derecho {
        font-size: 30px !important;
    }

    .para1 {
        font-size: 22px !important;
    }

    .para2 {
        font-size: 22px !important;
    }
}

@media (min-width: 1799px) {

    #formc {
        max-width: 75%;
    }

    #red {
        width: 1500px !important;
    }

}

@media (max-width:2076px) and (min-width: 1670px) {
    .izquierdo {
        font-size: 100px !important;
    }

    #derecho {
        font-size: 24px !important;
    }


    #derecho {
        font-size: 30px !important;
    }
}

@media (min-width:1544px) {
    .titfoot {
        font-size: 24px;
    }

    .elemsfoot {
        font-size: 20px;
    }
}

@media (min-width:1393px) {
    .yapi1.container-fluid {
        right: 35%;
        width: 57%;
    }

    #succst {
        max-width: 90% !important;
    }


    #succstrow {
        max-width: 83%;
    }

    #efeuno {
        float: left;
        width: 49%;
    }

    #adrianf {
        width: 100%;
    }

    #efedos {
        float: right;
        width: 49%;
    }

    .cont1.container,
    .cont2.container,
    .primer.container {
        max-width: 70% !important;
    }

    .iteme {
        margin: 0%;
    }

    .blbat {
        max-width: 70% !important;
    }

    .cities>img {
        width: 100%;
    }
}

@media (min-width: 1200px) {

    .deabajo>.container {
        max-width: 70% !important;
    }

    #locallyinv.container {
        max-width: 70% !important;
    }

    #d1 {
        max-width: 900px;
    }

    .efe {
        width: 76px;
    }
}

@media (min-width: 1000px) {

    .card-body {
        padding: 40px !important;
    }

    .card-title {
        font-weight: bold;
        font-size: 30px;
    }

    .card-subtitle {
        color: red;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
        font-size: 20px;
    }

    .card-text {
        text-align: left;
        font-size: 20px;
    }

    .sec {
        padding: 70px;
        max-width: 65% !important;
    }

    #localbus {
        padding-top: 14.5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3%;
        margin: auto;
    }

    .nope {
        position: relative;
        top: 100px;
        z-index: 999;
        margin-left: 8% !important;
        margin-right: 8% !important;
    }


    .nope1 {
        position: relative;
        top: 100px;
        z-index: 900;
    }

    section.danu .mt-5 {
        margin-top: 160px !important;
    }

    .yapi.container-fluid {
        position: absolute;
        right: 0%;
        top: 12.5%;
    }

    .yapi1.container-fluid {
        position: absolute;
        top: 0px;
    }
}

@media (min-width:992px) {
    .izquierdo {
        font-size: 80px;
        line-height: 1.075;
    }



    .navu {
        color: #fff !important;
        font-size: 18px;
    }

    .navo {
        color: black;
        font-size: 20px;
    }


    .recol {
        max-width: 690px !important;
    }

    .container-fluid>.container {
        max-width: 95% !important;
    }

    .cont2 {
        margin: 0px;
        margin-right: 0%;
        padding: 0.5% 0% 0.5% 0% !important;
        justify-content: center;
    }

    .navbar2 {
        background-color: rgb(255, 255, 255);
    }

    .navbar2 .navo {
        color: black;
        text-align: center !important;
    }

    .navu {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center !important;
    }

    .navbar {
        padding: 0% !important;
    }
}

@media (min-width: 768px) {

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        border-radius: 100%;
        font-size: 23px;
        width: 50px;
        height: 50px;
    }

    #myBtn:hover {
        background-color: #555;
        /* Add a dark-grey background on hover */
    }

}

@media (min-width: 722px) {
    .cont1 {
        padding: 0.5% 0% 0.5% 0% !important;
        justify-content: center !important;
    }
}

@media (min-width:577px) {
    .nope1 {
        width: 85% !important;
    }

    .para1 {
        font-size: 20px;
        color: white;
    }

    .para2 {
        font-size: 20px;
        color: black;
    }

    .dap {
        max-width: 73%;
    }

    /*.nope1 > .row{
        width: 100%;
    }*/
}

@media (min-width: 375px) and (max-width:2279px) {
    .pi {
        font-weight: 100;
        color: white;
        text-align: center;
        font-size: 24px;
        width: 100%;
        height: 100%;
        margin-bottom: 0% !important;
    }

    .redtitle {
        color: red;
        font-size: 24px;
    }

    .mid1 {
        font-size: 36px !important;
        color: white;
    }

    .mid2 {
        font-size: 35px;
        color: black;
    }
}

@media (max-width: 1543px) {
    #unico {
        margin-right: 60px;
    }



    .titfoot {
        font-size: 20px;
    }

    .elemsfoot {
        font-size: 16px;
    }
}

@media (max-width:1392px) {
    .cities>img {
        min-width: 100%;
    }
}

@media (min-width:992px) and (max-width:1392px) {

    #efeuno {
        margin-bottom: 5px;
    }
}

@media (max-width: 1505px) {
    #red {
        margin-top: 30%;
    }
}

@media (max-width: 999px) {

    .card-body {
        padding: 20px !important;
    }

    .card-title {
        font-weight: bold;
        font-size: 23px;
    }

    .card-subtitle {
        color: red;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
        font-size: 18px;
    }

    .card-text {
        text-align: left;
        font-size: 16px;
    }

    #localbus {
        padding-top: 50px;
    }

    .nope {
        margin-bottom: 25px;
    }

    .yapi.container-fluid {
        margin: 0px !important;
        margin-right: 0px !important;
        padding: 20px !important;
        width: 100% !important;
    }

    .yapi1.container-fluid {
        margin: 0px !important;
        margin-right: 0px !important;
        padding: 20px !important;
        width: 100% !important;
    }

    #red {
        margin-top: 40%;
        margin-bottom: 10%;
    }

    .dropdown-menu {
        position: relative !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }

    .sec {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width:992px) {
    .izquierdo {
        font-size: 50px;
        line-height: 1.075;
    }

    #derecho {
        font-size: 19px;
    }


    .navbar2 .navo {
        color: white;
        text-align: center !important;
    }

    .navu {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center !important;
    }

    .navbar {
        padding: 0% !important;
    }

    .navbar2 {
        background-color: rgb(0, 0, 0);
    }
}

@media (width:992px) {
    .navbar2 {
        background-color: white;
    }

    .navbar2 .navo {
        color: black;
    }
}

@media (max-width: 767px) {

    #yo {
        position: relative;
    }

    #red {
        margin-top: 0%;
    }

    #myBtn {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 20px;
        /* Place the button at the bottom of the page */
        right: 30px;
        /* Place the button 30px from the right */
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        background-color: red;
        /* Set a background color */
        color: white;
        /* Text color */
        cursor: pointer;
        /* Add a mouse pointer on hover */
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 12px;
        padding-left: 12px;
        /* Some padding */
        border-radius: 100%;
        /* Rounded corners */
        font-size: 20px;
        /* Increase font size */
    }

    #myBtn:hover {
        background-color: #555;
        /* Add a dark-grey background on hover */
    }

}

@media (max-width: 759px) {
    .cont1 {
        padding: 0% !important;
        justify-content: center !important;
    }

    .navbar-brand>img {
        width: 100% !important;
    }

    .navbar-brand {
        width: 75% !important;
    }

    .pi {
        font-weight: 100;
        color: white;
        text-align: center;
        font-size: 19px;
        width: 100%;
        height: 100%;
        margin: 0% !important;
    }
}

/*

*/

@media (max-width: 576px) {

    .para1 {
        font-size: 15px;
        color: white;
    }

    .para2 {
        font-size: 15px;
        color: black;
    }
}

@media (max-width: 374px) {

    .mid1 {
        font-size: 27px;
        color: white;
    }

    .mid2 {
        font-size: 27px;
        color: black;
    }



    .redtitle {
        color: red;
        font-size: 24px;
    }
}